In [16]:
print("name")    # name print successfully

name

In [17]:
print(name)      # error occurced here because name is undefined

Usama Israr

In [18]:
name: str = 'usama'
print('name')

name

# String Data type in python

In [ ]:
# boundries
# 'string text' , "string text" , '''string text''' , """string text"""
# `string text` type script yaha nahi chalta ye

name: str = "Usama Israr"
print(type(name))
print(name)

<class 'str'>
Usama Israr

In [ ]:
message: str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (3443607492.py, line 1)

In [ ]:
message: str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [ ]:
message: str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [ ]:
# convert any special character into simple character, place \ before character
message: str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [ ]:
message: str = "PIAIC Student Card \n father's Name"

In [ ]:
# boundries
# 'string text' , "string text" , '''string text''' , """string text"""
# `string text` type script yaha nahi chalta ye

name: str = 'Usama Israr'
print(type(name))
print(name)

<class 'str'>
Usama Israr

### Concatenation

In [ ]:
"a" + "b" + "c"

'abc'

In [ ]:
"a" + 7
"a" + "7"

TypeError: can only concatenate str (not "int") to str

In [ ]:
"a" + str(7)

In [ ]:
# boundries
# 'string text' , "string text" , '''string text''' , """string text"""
# `string text` type script yaha nahi chalta ye

name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = "PIAIC Student Card \nStudent Name: " + name + "\nAge: " + str(age)

print(card)

PIAIC Student Card
Student Name: Usama Israr
Age: 23

In [ ]:
print(7 + 8 + 2)

17

## "\\" line continue

In [ ]:
print(7 + \
      8 + \
        2)

17

In [ ]:
# boundries
# 'string text' , "string text" , '''string text''' , """string text"""
# `string text` type script yaha nahi chalta ye

name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = "PIAIC Student Card \nStudent Name: " + name +\
      "\nAge: " + str(age) + "\n" + \
      "Education " + education

print(card)

PIAIC Student Card
Student Name: Usama Israr
Age: 23
EducationMaster in Data Science

## Define multiline string """""", ''''''

In [ ]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = """
PIAIC Student Card
Student Name: .....
Father's Name: .....
Age: .....
Education: .....
"""

print(card)

PIAIC Student Card
Student Name: .....
Father's Name: .....
Age: .....
Education: .....

# F-string python
### f-string double quotes

In [ ]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

### f-string single quotes

In [ ]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = f'''
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
'''

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

### Back ticks are not compatible in python

In [ ]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = `
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
`

print(card)

SyntaxError: unterminated string literal (detected at line 9) (2413712598.py, line 9)

### Python expression in f-string

In [ ]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = f'''
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}

Total {2 + 8 + 9 + 3}
'''

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

Total 22

## F-string and Jinja style

### F-string

In [ ]:
f"""
student name {name}
"""

'\nstudent name Usama Israr\n'

### Jinja Style

In [ ]:
# Jinja Style
"""
student name {{name}}
"""

### Basic way like C or Java before f-string

In [ ]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = f"""
PIAIC Student Card
Student Name: %s
Father's Name: %s
Age: %d
Education: %s
""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

In [ ]:
dir(str)

# list comprehensive

[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Dot format Method or F-string

In [ ]:
a = 7
b = 8

# {} placeholder
#                    0               1          0 1
"pakistan value a = {} and value b = {}".format(a, b)

'pakistan value a = 7 and value b = 8'

In [ ]:
name: str = "uSamA iSrAr"

# Methods of string

print(name.capitalize())
print(name.lower())

Usama israr
usama israr

## Use Dot Format Method

In [ ]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = """
PIAIC Student Card
Student Name: {}
Father's Name: {}
Age: {}
Education: {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name: Muhammad Israr
Father's Name: Usama Israr
Age: 23
Education: Master in Data Science

### Index number are matter

#### Set position of index number

In [21]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = """
PIAIC Student Card
Student Name: {1}
Father's Name: {0}
Age: {3}
Education: {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

#### For Lang chain
Use this technique for create template of lang chain by useing f-string with .format, with placeholder

In [ ]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = """
PIAIC Student Card
Student Name: {a}
Father's Name: {b}
Age: {c}
Education: {d}
""".format(a=name, b=fname, c=age, d=education)

print(card)

In [22]:
student_name: str = """ 
print('My name is usama israr')
a: int = 3
b: int = 5

print(a + b)

"""
exec(student_name)

My name is usama israr
8