In [1]:
print("name")    # name print successfully

name

In [2]:
print(name)      # error occurced here because name is undefined

NameError: name 'name' is not defined

In [3]:
name: str = 'usama'
print('name')

name

# String Data type in python

In [4]:
# boundries
# 'string text' , "string text" , '''string text''' , """string text"""
# `string text` type script yaha nahi chalta ye

name: str = "Usama Israr"
print(type(name))
print(name)

<class 'str'>
Usama Israr

In [5]:
message: str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (3443607492.py, line 1)

In [6]:
message: str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [7]:
message: str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [8]:
# convert any special character into simple character, place \ before character
message: str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [9]:
message: str = "PIAIC Student Card \n father's Name"

In [10]:
# boundries
# 'string text' , "string text" , '''string text''' , """string text"""
# `string text` type script yaha nahi chalta ye

name: str = 'Usama Israr'
print(type(name))
print(name)

<class 'str'>
Usama Israr

### Concatenation

In [11]:
"a" + "b" + "c"

'abc'

In [13]:
"a" + 7
"a" + "7"
"a" + str(7)

TypeError: can only concatenate str (not "int") to str

In [12]:
# boundries
# 'string text' , "string text" , '''string text''' , """string text"""
# `string text` type script yaha nahi chalta ye

name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = "PIAIC Student Card \nStudent Name: " + name + "\nAge: " + str(age)

print(card)

PIAIC Student Card
Student Name: Usama Israr
Age: 23

In [14]:
print(7 + 8 + 2)

17

# "\" line continue

In [15]:
print(7 + \
      8 + \
        2)

17

In [16]:
# boundries
# 'string text' , "string text" , '''string text''' , """string text"""
# `string text` type script yaha nahi chalta ye

name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = "PIAIC Student Card \nStudent Name: " + name +\
      "\nAge: " + str(age) + "\n" + \
      "Education" + education

print(card)

PIAIC Student Card
Student Name: Usama Israr
Age: 23
EducationMaster in Data Science

## Define multiline string """""", ''''''

In [17]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = """
PIAIC Student Card
Student Name: .....
Father's Name: .....
Age: .....
Education: .....
"""

print(card)

PIAIC Student Card
Student Name: .....
Father's Name: .....
Age: .....
Education: .....

# f-string python
### f-string double quotes

In [18]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

### f-string single quotes

In [19]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = f'''
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
'''

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

### Back ticks are not compatible in python

In [20]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = `
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
`

print(card)

SyntaxError: unterminated string literal (detected at line 9) (2413712598.py, line 9)

### Expression in f-string

In [21]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = f'''
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}

Total {2 + 8 + 9 + 3}
'''

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

Total 22

## F-string and Jinja style

In [1]:
name: str = 'Usama Israr'
fname: str = "Muhammad Israr"
education: str = "Master in Data Science"
age: int = 23

card: str = f"""
PIAIC Student Card
Student Name: %s
Father's Name: %s
Age: %d
Education: %s
""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name: Usama Israr
Father's Name: Muhammad Israr
Age: 23
Education: Master in Data Science

In [22]:
student_name: str = """ 
print('My name is usama israr')
a: int = 3
b: int = 5

print(a + b)

"""
exec(student_name)

My name is usama israr
8